:root {
  --primary-color: #e8d0b3;
  --secondary-color: #b05b3b;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  display: box;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}

nav {
  background: var(--primary-color);
}

.navbar-brand {
  color: var(--secondary-color) !important;
}

.nav-link {
  color: var(--secondary-color) !important;
}

.navbar-toggler {
  color: var(--secondary-color) !important;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.hero {
  background: var(--secondary-color);
  color: var(--primary-color);
  padding: 160px 0;
  text-align: center;
}

.hero h1 {
  font-size: 90px;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: var(--secondary-color);
}

.contact-link:hover {
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.about-link:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.homepage-link {
  color: var(--secondary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.contact-header {
  font-size: 60px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 18px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

.instagram-link {
  color: var(--primary-color);
  text-decoration: none;
}

.instagram-link:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--secondary-color);
  box-shadow: var(--box-shadow);
  color: var(--primary-color);
}

.primary-link:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
}

.project-link {
  display: block;
  text-align: center;
}

.mb-3 {
  color: var(--secondary-color);
}

.about-body {
  background: var(--secondary-color) !important;
  color: var(--primary-color) !important;
}

.index-body {
  background: var(--primary-color);
}
.index-paragraph {
  color: #86340a;
}

.index-projects-header {
  color: var(--secondary-color);
  text-decoration: underline;
}

.about-paragraph {
  color: var(--primary-color);
}

.contact-body {
  background: var(--secondary-color);
  color: var(--primary-color);
  padding: 50px;
}

.portfolio {
  border: 1px solid var(--secondary-color);
}

.about-portfolio {
  border: 1px solid var(--primary-color);
}

.about-section {
  margin-top: 50px;
  margin-bottom: 50px;
}

.profile-photo {
  margin-top: 80px;
}
